# environment files
.env
**/.env
**/.env.*
email-recoverer/.env
zk-email-verifier-contract/.env

email-recoverer/scripts/create-dev-and-refund-to-cyan.sh

# Build output
target

# Editor directories and files
.vscode/*
.DS_Store

commands.sh
